<div>
    <center>
        <div class="pagination job-list-pagi">
            <ul ng-show="totalPages>1" class="list-page" style="display: flex; font-size: 12px;">
                <li class="first-last-pagi prev-pag cursor-pointer sm-jobDisplay" ng-class="currentPage<=1?'disableNav':''" ng-click="currentPage>1?setPage(1):''" style="list-style-type: none;   ">
                    <span>First</span>
                    <!--  <md-tooltip md-direction="top">First Page </md-tooltip> -->
                </li>
                <li class="prev-pag cursor-pointer previousNext-span" ng-class="currentPage<=1?'disableNav':''" ng-click="currentPage>1?goToPreviousPage():''" style="list-style-type: none;">
                    <span>Previous</span>
                </li>
                <li id="page_select_{{$index}}" class="no-pag cursor-pointer sm-jobDisplay" ng-repeat="n in pageArray" ng-class="{'active-page': n == currentPage}" ng-click="setPage(n)" style="list-style-type: none; width: 14px;">
                    <span>{{n}}<span>
                </li>
                <li id="pagination_nxt_btn" class="next-pag cursor-pointer previousNext-span" ng-class="currentPage>=totalPages?'disableNav':''" ng-click="currentPage<totalPages?goToNextPage():''" style="list-style-type: none; ">
                    <span>Next</span>
                </li>
                <li class="first-last-pagi prev-pag cursor-pointer sm-jobDisplay" ng-disabled="currentPage>totalPages-rangeSize" ng-click="currentPage<totalPages?setPage(totalPages):''" ng-class="currentPage>=totalPages?'disableNav':''" style="list-style-type: none;">
                    <span>Last</span>
                </li>
            </ul>
        </div>
    </center>
    <style type="text/css">
    li {
        cursor: pointer;
        padding: 10px;
        box-shadow: 0.3px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.18);
        z-index: 4;
        background-color: white;
           }
    
    li:hover {
        background-color: #03a9f4;
        color: white;
    }
    
    .disableNav,
    .disableNav:hover {
        background-color: rgb(218, 213, 213);
        cursor: default;
        color: black;
    }
    
    .active-page {
        background-color: #03a9f4;
        color: white;
        cursor: pointer;
    }
    </style>
</div>
